<?php
return [
    'modules' => [
        'Laminas\Router',
        'Laminas\Filter',
        'ConLayout'
    ],
    'module_listener_options' => [
        'config_glob_paths'    => [
        ],
        'module_paths' => [
            dirname(__DIR__),
            __DIR__ . '/../vendor'
        ],
    ],
];