<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./tests/ConLayoutTest/Bootstrap.php" colors="true" verbose="true">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory suffix=".php">./src/Sorter</directory>
            </exclude>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="con-layout-test">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
