/* line 6, ../../scss/con-layout.scss */
[data-block-name-label]:hover, [data-block-name-label].toggled {
  text-decoration: underline;
  font-weight: bold;
}

/* line 12, ../../scss/con-layout.scss */
.block-debug {
  border: 1px dotted #a94442;
  position: relative;
  margin: 1px;
  min-height: 15px;
  overflow: hidden;
  *zoom: 1;
}
/* line 18, ../../scss/con-layout.scss */
.block-debug:hover .block-debug-info {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
}
/* line 22, ../../scss/con-layout.scss */
.block-debug.block-highlight {
  background: #f2dede;
  border-width: 2px;
  border-style: dashed;
}
/* line 27, ../../scss/con-layout.scss */
.block-debug .block-debug-info {
  color: #a94442;
  position: absolute;
  right: 0;
  top: 0;
  border: 1px dotted #a94442;
  border-width: 0 0 1px 1px;
  background: #f2dede;
  line-height: 12px;
  padding: 0 5px;
}
/* line 37, ../../scss/con-layout.scss */
.block-debug .block-debug-info span {
  font-size: 11px;
  margin-left: 5px;
}
/* line 40, ../../scss/con-layout.scss */
.block-debug .block-debug-info span:first-child {
  margin-left: 0;
}
