<?php
use ConLayout\Listener\LayoutUpdateListener;
return [
    'con-layout' => [
        /**
         *
         */
        'layout_update_paths' => [
            LayoutUpdateListener::AREA_GLOBAL => []
        ],
        /**
         *
         */
        'layout_update_extensions' => [
            'php'
        ],
        /**
         * shows block hints
         */
        'enable_debug' => false,
        /**
         * base dir to assets
         */
        'cache_buster_internal_base_dir' => './public',
        'view_helpers' => [
            'doctype' => [],
            'headLink' => [
                'default_method' => 'appendStylesheet',
            ],
            'headScript' => [
                'default_method' => 'appendFile',
            ],
            'inlineScript' => [
                'default_method' => 'appendFile',
            ],
            'headTitle' => [
                'default_method' => 'append'
            ],
            'headMeta' => [
                'default_method' => 'appendName'
            ],
            'bodyClass' => [
                'default_method' => 'addClass'
            ]
        ],
        'asset_preparers' => [
            'headLink' => [
                'basePath' => 'ConLayout\AssetPreparer\BasePath',
                'cacheBuster' => 'ConLayout\AssetPreparer\CacheBuster',
            ],
            'headScript' => [
                'basePath' => 'ConLayout\AssetPreparer\BasePath',
                'cacheBuster' => 'ConLayout\AssetPreparer\CacheBuster',
            ],
            'inlineScript' => [
                'basePath' => 'ConLayout\AssetPreparer\BasePath',
                'cacheBuster' => 'ConLayout\AssetPreparer\CacheBuster',
            ]
        ]
    ]
];
