<?php

use ConLayout\Generator\BlocksGenerator;
use ConLayout\Generator\ViewHelperGenerator;
use ConLayout\Updater\Collector\FilesystemCollector;
use ConLayout\Updater\Collector\ConfigCollectorFactory;
use ConLayout\Updater\Collector\ConfigCollector;
use ConLayout\Updater\LayoutUpdaterInterface;
use ConLayout\View\Helper\Proxy\HeadLinkProxy;
use ConLayout\View\Helper\Proxy\HeadMetaProxy;
use ConLayout\View\Helper\Proxy\HeadScriptProxy;
use ConLayout\View\Helper\Proxy\HeadTitleProxy;
use ConLayout\View\Helper\Proxy\InlineScriptProxy;
use Laminas\View\Model\ViewModel;

return [
    'con-layout' => [
        'debug' => false,
        /**
         * paths where to search for layout updates
         *
         * @see docs/areas.md
         *
         * format & examples: [
         *      'global' => [
         *          './themes/my-theme/layout/global'
         *      ],
         *      'frontend' => [
         *          './themes/my-theme/layout/frontend'
         *      ],
         *      'backend' => [
         *          ./'themes/admin-theme/layout',
         *          __DIR__ . '/../layout/backend' // in a module.config.php
         *      ]
         *  ]
         */
        'layout_update_paths' => [
            LayoutUpdaterInterface::AREA_GLOBAL => []
        ],
        /**
         * allowed config types
         *
         * you can explicitly disable an extension by setting its value to false
         *
         *  'layout_update_extensions' => [
         *      'xml' => false,
         *      'php',
         *      'yaml'
         *  ]
         *
         * @see http://framework.zend.com/manual/current/en/modules/zend.config.reader.html
         */
        'layout_update_extensions' => [
            'xml'
        ],
        'default_area' => LayoutUpdaterInterface::AREA_DEFAULT,
        /**
         * base dir to assets
         *
         * is used by ConLayout\Filter\CacheBuster to read the file
         * and appends an md5 query string so that browsers always pull the
         * latest asset from the server
         */
        'cache_buster_internal_base_dir' => './public',
        /**
         * block defaults
         */
        'block_defaults' => [
            'capture_to' => 'content',
            'append'     => true,
            'class'      => ViewModel::class,
            'options'    => [],
            'variables'  => [],
            'template'   => '',
            'actions'    => []
        ],
        /**
         * defaults for view_helpers-instructions
         */
        'view_helpers' => [
            'doctype' => [
                'default_param' => 'doctype'
            ],
            'headLink' => [
                'method' => 'appendStylesheet',
                'debug'  => 'extras',
                'filter' => [
                    'href' => [
                        'basePath' => 5,
                        'cacheBuster' => 10
                    ]
                ],
                'proxy' => HeadLinkProxy::class
            ],
            'headScript' => [
                'method' => 'appendFile',
                'debug'  => 'attrs',
                'filter' => [
                    'src' => [
                        'basePath' => 5,
                        'cacheBuster' => 10
                    ]
                ],
                'proxy' => HeadScriptProxy::class
            ],
            'inlineScript' => [
                'method' => 'appendFile',
                'debug'  => 'attrs',
                'filter' => [
                    'src' => [
                        'basePath' => 5,
                        'cacheBuster' => 10
                    ]
                ],
                'proxy' => InlineScriptProxy::class
            ],
            'headTitle' => [
                'method' => 'append',
                'proxy' => HeadTitleProxy::class
            ],
            'headMeta' => [
                'method' => 'setName',
                'debug' => 'modifiers',
                'proxy' => HeadMetaProxy::class
            ],
            'bodyClass' => [
                'method' => 'addClass'
            ]
        ],
        'generators' => [
            BlocksGenerator::NAME => [
                'class' => BlocksGenerator::class,
                'priority' => 1
            ],
            ViewHelperGenerator::NAME => [
                'class' => ViewHelperGenerator::class,
                'priority' => 1
            ]
        ],
        'collectors' => [
            ConfigCollector::NAME => [
                'class' => ConfigCollector::class,
                'priority' => 20
            ],
            FilesystemCollector::NAME => [
                'class' => FilesystemCollector::class,
                'priority' => 10
            ]
        ]
        /**
         * enable/disable particular listeners
         */
        /*
        'listeners' => [
            'ConLayout\Listener\ActionHandlesListener'  => true,
            'ConLayout\Listener\LoadLayoutListener'     => true,
            'ConLayout\Listener\PrepareActionViewModelListener' => true
        ]*/
    ]
];
