<?php
return [
    'con-layout' => [
        'update_listener_glob_paths' => [
            'default' => './module/*/layout/*.{xml,php}',
            'sample' => __DIR__ . '/../sample/layout/*.{php,xml}',
        ],
        'enable_debug' => true,
        'cache_buster_internal_base_dir' => './public',
        'view_helpers' => [
            'doctype' => [],
            'headLink' => [
                'default_method' => 'appendStylesheet',
            ],
            'headScript' => [
                'default_method' => 'appendFile',
            ],
            'inlineScript' => [
                'default_method' => 'appendFile',
            ],
            'headTitle' => [
                'default_method' => 'append'
            ],
            'headMeta' => [
                'default_method' => 'appendName'
            ],
            'bodyClass' => [
                'default_method' => 'addClass'
            ]
        ],
        'asset_preparers' => [
            'headLink' => [
                'basePath' => 'ConLayout\AssetPreparer\BasePath',
                'cacheBuster' => 'ConLayout\AssetPreparer\CacheBuster',
            ],
            'headScript' => [
                'basePath' => 'ConLayout\AssetPreparer\BasePath',
                'cacheBuster' => 'ConLayout\AssetPreparer\CacheBuster',
            ],
            'inlineScript' => [
                'basePath' => 'ConLayout\AssetPreparer\BasePath',
                'cacheBuster' => 'ConLayout\AssetPreparer\CacheBuster',
            ]
        ]
    ]
];
